.index .time-list img{
    width: 1.7rem;
    height: 1.7rem;
}
.index .time-list{
    text-align: center;
}
.index .time-list ul {
    display: flex;
}
.index .time-list ul li{
    flex: 1;
}



.footer{
    width: 100vw;
    height: 1.3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}
.footer div{
    padding-top: .2rem;
    box-sizing: border-box;
    width: 25% !important;
    height: 1.3rem;
    background-color: #fff;
    text-align: center;
}

.footer div img{
    width: .5rem;
    height: .5rem;
}
.footer a{
    position: absolute;
    left: 0;
    z-index: 999;
    text-decoration: none;
    color: #333;
    width: 25%;
    height: 1.5rem;
    margin-top: -.8rem;
    box-sizing: border-box;
    padding-top: .8rem;
}
.footer div:nth-child(2) a{
    left: 25% !important;
}
.footer div:nth-child(3) a{
    left: 50% !important;
}
.footer div:nth-child(4) a{
    left: 75% !important;
}


.select{
    color: orange !important;
}